rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function userProfile() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid));
    }

    function role() {
      return signedIn() && userProfile().data.active == true ? userProfile().data.role : null;
    }

    function isAdmin() {
      return role() == 'admin';
    }

    function isMedico() {
      return role() == 'medico';
    }

    match /promos/{fileName} {
      allow read: if true;
      allow write: if isAdmin() || isMedico();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
